
.messageList {
  color: wheat;
  font-family: "American Typewriter";
}

.clientList {
  color: greenyellow;
  font-family: "American Typewriter";
}

.isTyping {
  color: yellowgreen;
}

.lightText {
  color: lavender;
}

.darkslategreyText {
  color: darkslategrey;
  font-size:14px;
  font-family: fantasy;
}

.sentAtText {
  color: seagreen;
  font-size:9px;
  font-family: sans-serif;
}

.messageText {
  color: darkslategrey;
  font-size:16px;
  font-family: sans-serif;
}

.yellowText {
  color:yellow;
}

.leader {
  color: forestgreen;
}
